/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

a { 
	color: #206ebc;
	text-decoration: none;
}

body {
	font-family: 'Lato', sans-serif;
}

header {
	margin: 0px;
	padding: 0px;
	font-color: black;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
}

header a {
	color: #000;
}

h1 {
	font-size: 1.5em;
	margin: 10px 5px;
}

h1 a {
	color: #000;
}

hr {
	padding-top: 5px;
	border-width: 0px;
}

nav {
	text-align: center;
}

nav a {
	color: #333333;
	margin: 0px 5px;
	font-size: 1.3em;
}

nav a:hover {
	color: #206ebc;
}

#packing {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.box {
	margin: 0 2px 15px;
	padding: 0px;
	width: 250px;
  display: inline-block;
	background: #FEFEFE;
	border: 2px solid #dedede;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(200,200,200, 0.4);
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}

.box header {
	color: #6E8F9C;
	text-align: center;	
}

.box p {
	padding: 8px;
	line-height: 1.3em;
	font-size: 1em;
}

#content {
	margin: 0px auto;
	max-width: 800px;
	min-width: 350px;
	padding-top: 16px;
	padding-bottom: 20px;
}

.post_lists {
	padding: 5px;
	font-size: 1em;
	line-height: 1.2em;
}

.post_lists time {
	font-size: 0.8em;
	color: #aaa;
}

.post_lists p {
	text-indent: 20px;
}

article.small {
	width: 300px;
	margin: 0px 5px;
	float: left;
}


article .content {
	padding: 5px;
	background-color: #fff;
}

article .note {
	margin: 8px auto;
	padding: 8px;
	border: 1px solid #ccc;
	background-color: #CFE4EE;
	font-weight: bold;
	color: #333;
}

article .note a {
	color: #000;
	text-decoration: underline;
}

article .more {
	padding: 5px 15px;
	background-color: #fff;
	font-size: 1.2em;
}

article p, article blockquote, .highlight pre {
	margin-bottom: 1em;
	line-height: 1.1em;
}

p > code {
	background-color: #efefef;
}

blockquote, .highlight > pre {
	padding: 14px;
	margin-left: 10px;
	border-left: 4px solid #4F7688;
	background-color: #eee;
}

blockquote p { margin-bottom: 0px; }

article h1 {
	font-size: 1.8em;
	text-align: center;
	padding-bottom: 7px;
	border-bottom: 1px solid #ddd;
}

article h1 a {
	color: #206ebc;
	display: block;
}

article h2 {
	font-size: 1.3em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1em;
}

article h3 {
	padding-left: 5px;
	font-size: 1em;
	font-weight: bold;
	padding-top: 1em;
}

code {
	font-size: 0.9em;
}

code.bash, code.text {
	font-family: Courier;
}