<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link rel="stylesheet" href="/assets/link/base.css" />
   <link rel="stylesheet" href="/assets/link/code.css" />
   <link rel="stylesheet" href="/assets/link/social.css" />
   <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/">Notes</a></li>
      <li><a href="/archive">Archives</a></li>
      <li><a href="/card">Side Projects</a></li>
      <li class="social"><a href="https://twitter.com/mark_olson" target="_blank" title="Mark Olson" class="icon-twitter"></a></li>
      <li class="social"><a href="https://github.com/markolson" target="_blank" title="Mark Olson" class="icon-github"></a></li>
    </ul>
  </nav>
  <hr />
</header>
<div id="body">
{{ content }}
</div>
</body>
</html>
